.listpopin(class=position.orientation, data-title=title, style="left:" + position.left + "; top:" + position.top ";")
  .close ×
  .header(title=title)
    img(src="img/servicessd/" + title + ".jpg")

  .list
    if (byType.conceptMesInfos)
      h4 Concepts MesInfos
      ul
        each item in byType.conceptMesInfos
          li
            a(href=item.linkOnMesInfosSite, title=item.slogan, target="_blank")= item.title

    if (byType.prototypeMesInfos)
      h4 Prototypes MesInfos
      ul
        each item in byType.prototypeMesInfos
          li
            a(href=item.linkOnMesInfosSite, title=item.slogan, target="_blank")= item.title

    if (byType.usecase)
      h4 Usecases (en)
      ul
        each item in byType.usecase
          li(data-title=item.title)
            span= item.title
